body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    font-size: 18px;
    color: #e5e7eb;
}

h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

ul{
    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: 10%;
    font-size: 18px;
    color: #e5e7eb;
}

button{
    max-width: 100px;
    max-height: 50px;
    padding: 10px;
    color: #e5e7eb;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    font-weight:900;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: baseline;
}

.logo{
    display: flex; 
    font-size: 24px;
    font-weight: 900;
    margin-left: 10%;
}

.awesome{
    display: flex;
    background: #1f2937;
    justify-content: space-between;
    padding-bottom: 10%;
    align-items: baseline;
}

.left{
    display: flex;
    flex-direction: column;
    margin-left: 10.5%;
    max-height: 600px;
    max-width: 600px;
    flex: 2;
    flex-wrap: wrap;
    gap: 30px;
}

.title{
    display: flex;
    max-height: 200px;
    max-width: 400px;
    flex: 2;
    flex-wrap: wrap;
    margin-top: 20%;
    margin-bottom: -2%;
}


.rtitle{
    display: flex;
    justify-content: center;
    font-weight: 900;
    margin-bottom: 2%;
    margin-top: 2%;
}

.images{
    display:flex;
    justify-content: center;
    gap: 35px;
}

.rp{
    display: flex;
    justify-content: center;
    gap: 35px;
}

.rp p{
    max-width: 200px;
    flex-wrap: wrap;
    color:#1f2937;
}

.rimg{
    min-height: 200px;
    max-height: 200px;
    min-width: 200px;
    max-height: 200px;
    border: solid #3882f6;
    border-radius: 8px;
    display: flex;
}

.img{
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    min-width: 700px;
    background-color: #f9faf865;
    outline: 5px solid #f9faf865;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
}

.quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: -20%;
    margin-right: -20%;
    padding: 5%;
}

.quote h1{
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin-top: 5%;
    margin-bottom: -1%;
    display: flex;
    min-width:  300px;
    max-width: 800px; 
    flex-wrap: wrap;
}

.quote h4{
    display: flex;
    align-self: flex-end;
    margin-right: 32%;
    font-weight: 900;
}

.action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    color: #f9faf8;
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    border: solid #3882f6;
    border-radius: 8px;
}

.action h4{
    font-weight: 900;
}

.action p{
    margin-top: -3%;
    font-size: small;
}

.action button{
    min-width: 150px;
    margin-left: 5%;
    border: solid #f9faf8;
}

.footer{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2%;
    margin-left: -10%;
    margin-bottom: -20%;
    margin-right: -20%;
}